<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/html/home/login.css">
      <title>{{title}}</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script type="text/javascript" src='/html/home/login.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
