body
{
  margin: 0px;
  background-color: #f0f2f5;
}

*
{
  font-family: arial;
}

button:focus
{
  outline: 0;
}

.navbar
{
  width: 100%;
  height: 41px;
}

.login-button
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5bb75b;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  width: 15%;
  display: block;
  margin: auto;
  cursor: pointer;
  cursor: hand;
  border: none;
  box-sizing: initial;
  font-size: 15px;
  border: 1px solid #1a1717;
}

.login-button:hover
{
  background-color: #51A451;
}

.login-button:focus
{
  border-color: #606062;
}

.login-container input
{
  text-align: center;
  border-radius: 5px;
  border-width: 0px;
  height: 22px;
  border: 1px #1a1717 solid;
}

.login-container input:focus
{
  border-color: #606062;
}

h1
{
    text-align: center;
    display: inline-block;
    color: darkgray;
    font-size: 17px;
    margin: 0px;
}

h2
{
  text-align: center;
  color: #f0f2f5;
}

p
{
  text-align: center;
  margin-left: 25%;
  color: #f0f2f5;
  margin-right: 25%;
}

.main
{
  width: 600px;
  height: 250px;
  background-color: #1a1717;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  padding-bottom: 75px;
  border: 1px solid #1a1717;
}

.login-container
{
  text-align: center;
  margin: 5px;
}

.login-tab
{
  background-color: #5bb75b;
  width: 75px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: -4px;
  margin-right: -1px;
  border-radius: 5px;
  color: #ffffff;
}

/*.login-tab:hover
{
  background-color: #51A451;
  color: #ffffff;
}

.login-tab:hover .login-tab-square-corners, .login-tab.hover .login-tab-square-corners
{
  background-color: #51A451;
}*/

.sign-up-tab
{
  background-color: #f0f2f5;
  width: 75px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 450px;
  border-radius: 5px;
  text-decoration: none;
  color:#1a1717;
}

/*.sign-up-tab:hover
{
  background-color: #51A451;
  color: #ffffff;
}

.sign-up-tab:hover .sign-up-tab-square-corners, .sign-up-tab.hover .sign-up-tab-square-corners
{
  background-color: #51A451;
}*/

.sign-up-tab-square-corners
{
  background-color: #f0f2f5;
  height: 5px;
  width: 5px;
  position: relative;
}

.login-tab-square-corners
{
  background-color: #5bb75b;
  height: 5px;
  width: 5px;
  position: relative;
}

.top-left
{
  float: left;
  margin-top: -5px;
}

.top-right
{
  float: right;
  margin-top: -5px;
}

.bottom-left
{
  float: left;
  margin-top: 18px;
  margin-bottom: -5px;
}

.bottom-right
{
  float: right;
  margin-top: 18px;
  margin-bottom: -5px;
}

input
{
  text-align: center;
  background-color: #f0f2f5;
  color: #b6a9a9
  outline:none;
}

input:focus {
    outline: none;
}
