body
{
  margin: 0px;
  background-color: #f0f2f5;
}

*
{
  font-family: arial;
}

.navbar
{
  width: 100%;
  height: 41px;
}

.login-button
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5bb75b;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  width: 15%;
  display: block;
  margin: auto;
}

.login-container input
{
  text-align: center;
  border-radius: 5px;
  border-width: 0px;
  height: 22px;
}

h1
{
    text-align: center;
    display: inline-block;
    color: darkgray;
    font-size: 17px;
    margin: 0px;
}

h2
{
  text-align: center;
  color: #f0f2f5;
}

p
{
  text-align: center;
  margin-left: 25%;
  color: #f0f2f5;
  margin-right: 25%;
}

.main
{
  width: 600px;
  height: 250px;
  background-color: #1a1717;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  padding-bottom: 75px;
  border: 1px solid #1a1717;
}

.login-container
{
  text-align: center;
  margin: 5px;
}

.login-tab
{
  background-color: #5bb75b;
  width: 75px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: -4px;
  margin-right: -1px;
  border-radius: 5px;
}

.login-tab a
{
  color:#ffffff;
  text-decoration: none;
}

.login-tab-square-corners-topleft
{
  background-color: #5bb75b;
  height: 5px;
  width: 5px;
  position: relative;
  float: left;
  margin-top: -5px;
}

.login-tab-square-corners-bottomleft
{
  background-color: #5bb75b;
  height: 5px;
  width: 5px;
  position: relative;
  float: left;
  margin-top: 18px;
  margin-bottom: -5px;
}

.login-tab-square-corners-bottomright
{
  background-color: #5bb75b;
  height: 5px;
  width: 5px;
  position: relative;
  float: right;
  margin-top: 18px;
  margin-bottom: -5px;
}

.sign-up-tab
{
  background-color: #f0f2f5;
  width: 75px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 450px;
  border-radius: 5px;
  text-decoration: none;
}

.sign-up-tab a
{
  color:#1a1717;
  text-decoration: none;
}

.sign-up-tab-square-corners-topleft
{
  background-color: #f0f2f5;
  height: 5px;
  width: 5px;
  position: relative;
  float: left;
  margin-top: -5px;
}

.sign-up-tab-square-corners-topright
{
  background-color: #f0f2f5;
  height: 5px;
  width: 5px;
  position: relative;
  float: right;
  margin-top: -5px;
}

.sign-up-tab-square-corners-bottomright
{
  background-color: #f0f2f5;
  height: 5px;
  width: 5px;
  position: relative;
  float: right;
  margin-top: 18px;
  margin-bottom: -5px;
}

input
{
  text-align: center;
  background-color: #f0f2f5;
  color: #b6a9a9
  outline:none;
}

input:focus {
    outline: none;
}
