<div class="body-wrap">
  <div class="nav-wrap">
    <div class="nav-content"><h1>{{title}}</h1></div>
  </div>
  <div class="main-wrap">
    <div class="left-right-squeeze">
      <div class="left-wrap">
        <h2>Welcome</h2>
        <p>
          Share and browse photos of cool stuff bro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
        </p>
        <div class="before-login"><div class="before-line"></div>Have an Instagram<div class="after-line"></div></div>
        <form method="post">
          <div class="login-container"><button class="login-button" type="submit" method="post">Sign in with Instagram<i class="fa fa-sign-in"></i></button></div>
        </form>
        <div class="before-sign-up"><div class="before-line2"></div>else<div class="after-line2"></div></div>
        <form method="post">
          <div class="login-container"><button class="login-button" type="submit" method="post">Sign up for Instagram <i class="fa fa-instagram"></i></button></div>
        </form>
    </div>
      <div class="right-wrap">
        <div class="right-image-box">
          <!--<img src="http://i.imgur.com/dgPoLyi.jpg?1"/>-->
          <img src="http://i.imgur.com/aDMNG2V.jpg" class="img-1"/>
          <img src="http://i.imgur.com/dgPoLyi.jpg?1" class="img-2"/>
          <img src="http://i.imgur.com/xkGsh67.jpg" class="img-3"/>
          <img src="http://i.imgur.com/6bT2RGH.jpg" class="img-4"/>
        </div>
        <div class="image-circles">
          <i class="fa fa-circle-o" id="image-circle-1"></i>
          <i class="fa fa-circle-o" id="image-circle-2"></i>
          <i class="fa fa-circle-o" id="image-circle-3"></i>
          <i class="fa fa-circle-o" id="image-circle-4"></i>
        </div>
      </div>
    </div>
  </div>
</div>
